Let us try to find out who is the best tennins player. There are many ways you can do this. Count the number of slam titles, no of tournament titles, titles across surfaces, wins over top ten people etc.
I downloaded data from atp stat website. One file had % matches won, total matches won and total matches lost. The second had the same data for all slam matches, the third the same for all finals the player played in I am using the following method find the % games played by the player in the finals ( i.e no of finals palyed/ total no of games played). The average out this with % matches won , % slam matches won , and % finals won. I downloaded top 100 from each category, collated the files and did the analysis. The results are shown below.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("tens4.txt")

In [3]:
print df1.head(3)

   no            name   %won  no_of_championships-won  career_matches_won  \
0   1    Rafael Nadal  0.827                       67                 767
1   2      Bjorn Borg  0.827                       64                 609
2   3  Novak Djokovic  0.825                       59                 686

    career_matches_lost
0                   160
1                   127
2                   146

In [4]:
df2 = pd.read_csv("slam_finals2.txt")

In [11]:
print df2.head(3)

   No         name   %won  no_of_slams  slam_matches_won  slam_matches_lost
0   1    Don Budge  0.921            6                58                  5
1   2   Bjorn Borg  0.898           11               141                 16
2   3  Bill Tilden  0.898           10               114                 13

In [5]:
df3 = pd.read_csv("tens_finals3.txt")

In [6]:
df3.head(3)

   NO               NAME       %won  final_matches_won  fianl_matches_lost
0   1      Thomas Muster  0.81ZZ5\t                 44                  10
1   2  Nikolay Davydenko      0.750                 21                   7
2   3     Thomas Enqvist      0.731                 19                   7

Each of the above is the list of top 100 based on %won. Let us make a consolidated table combining all three. We get names of players from all three and for each player who has data in all three files we create a new file.

In [7]:
f4 = open("allb.txt","w")
f1 = open("slam_finals2.txt","r").readlines()
names = []
for i in f1:
   a = i.split(",")
   b = a[1]
   if b in names:
     pass
   else:
     names.append(b)
f2 = open("tens4.txt","r").readlines()

for i in f2:
   a = i.split(",")
   b = a[1]
   if b in names:
     pass
   else:
     names.append(b)

f3 = open("tens_finals3.txt","r").readlines()
for i in f3:
   a = i.split(",")
   b = a[1]
   if b in names:
     pass
   else:
     names.append(b)
for i in names:
    for j in f1:
       for k in f2:
           for l in f3:
               if (i in j) and (i in k) and (i in l):
                  kl = j.strip("\n")+","+k.strip("\n")+","+l
                  kl1 = kl.split(",")
                  kl2= kl1[1]+","+kl1[2]+","+kl1[3]+","+kl1[4]+","+kl1[5]+","+kl1[8]+","+kl1[9]+","+kl1[10]+","+kl1[11]+","+kl1[14]+","+kl1[15]+","+kl1[16]+"\n"
                  print kl2
                  f4.write(kl2)

Bjorn Borg,0.898,11,141,16,0.827,64,609,127,0.727,64,24


Rafael Nadal,0.872,14,198,29,0.827,67,767,160,0.684,67,31


Novak Djokovic,0.859,10,207,34,0.825,59,686,146,0.690,58,26


Roger Federer,0.858,17,297,49,0.816,88,1059,238,0.657,88,46


Rod Laver,0.849,4,45,8,0.792,44,423,111,0.698,44,19


Pete Sampras,0.842,14,203,38,0.774,64,762,222,0.727,64,24


Jimmy Connors,0.826,8,233,49,0.819,109,1254,278,0.690,109,49


Ivan Lendl,0.819,8,222,49,0.818,94,1071,239,0.648,92,50


John Newcombe,0.819,5,86,19,0.743,31,445,154,0.620,31,19


Ken Rosewall,0.819,3,77,17,0.740,29,444,156,0.604,29,19


John McEnroe,0.815,7,167,38,0.815,77,875,198,0.710,76,31


Andre Agassi,0.809,8,224,53,0.760,60,870,274,0.663,59,30


Andy Murray,0.805,2,153,37,0.770,35,552,165,0.673,35,17


Boris Becker,0.803,6,163,40,0.769,49,713,214,0.636,49,28


Mats Wilander,0.796,7,144,37,0.720,33,571,222,0.559,33,26


Stefan Edberg,0.791,6,178,47,0.748,41,801,270,0.532,41,36


Arthur Ashe,0.779,2,95,27,0.752,32,634,209,0.471,32,36


Jim Courier,0.756,4,118,38,0.681,23,506,237,0.639,23,13


Guillermo Vilas,0.754,4,138,45,0.765,62,928,285,0.608,62,40


Yevgeny Kafelnikov,0.733,2,99,36,0.666,26,609,306,0.565,26,20


Stan Smith,0.721,2,101,39,0.711,37,646,262,0.649,37,20


Stan Wawrinka,0.715,2,103,41,0.627,11,392,233,0.550,11,9


Marat Safin,0.714,2,95,38,0.612,15,422,267,0.556,15,12


Ilie Nastase,0.706,2,96,40,0.721,58,775,300,0.611,58,37


Johan Kriek,0.704,2,81,34,0.629,14,376,222,0.519,14,13


Lleyton Hewitt,0.700,2,147,63,0.702,30,615,261,0.652,30,16


Gustavo Kuerten,0.684,3,65,30,0.647,20,358,195,0.690,20,9

We can now calculate % of matches played in final and add to all other percentages and take average.

In [12]:
df = pd.read_csv("allb.txt")

In [13]:
df.head(3)

,name,%slam_matches_won,no_of_slams,slam_matches_won,slam_matches_lost,%career_matches_won,no_of_chammpionships_won,career_matches_won,career_matches_lost,%finals_won,finals_won,finals_lost
0,Bjorn Borg,0.898,11,141,16,0.827,64,609,127,0.727,64,24
1,Rafael Nadal,0.872,14,198,29,0.827,67,767,160,0.684,67,31
2,Novak Djokovic,0.859,10,207,34,0.825,59,686,146,0.690,58,26

In [14]:
df["%matches_which_are_finals"]=(df["finals_won"]+df["finals_lost"])/(df["career_matches_won"]+df["career_matches_lost"])

In [15]:
df["score"]=(df["%matches_which_are_finals"]+df["%slam_matches_won"]+df["%career_matches_won"]+df["%finals_won"])/4

In [17]:
dfa = df[["name","score"]]

In [18]:
dfa.sort(["score"],ascending=False)

                  name     score
0           Bjorn Borg  0.642891
1         Rafael Nadal  0.622179
2       Novak Djokovic  0.618740
4            Rod Laver  0.614244
10        John McEnroe  0.609930
6        Jimmy Connors  0.609533
3        Roger Federer  0.608579
5         Pete Sampras  0.608108
7           Ivan Lendl  0.598349
12         Andy Murray  0.580131
11        Andre Agassi  0.577449
13        Boris Becker  0.572766
8        John Newcombe  0.566368
9         Ken Rosewall  0.560750
18     Guillermo Vilas  0.552772
14       Mats Wilander  0.537350
20          Stan Smith  0.535944
15       Stefan Edberg  0.535724
23        Ilie Nastase  0.531593
17         Jim Courier  0.531113
25      Lleyton Hewitt  0.526628
16         Arthur Ashe  0.520666
26     Gustavo Kuerten  0.518360
19  Yevgeny Kafelnikov  0.503568
21       Stan Wawrinka  0.481000
22         Marat Safin  0.480297
24         Johan Kriek  0.474288

It will be interesting to see how the stats look when Federer, Nadal, Djokovic, Wawrinka, Murray etc are retired.